header{
    height: 700px;
    width: 100%;
    background-image: url(./images/cover.3.png);
    background-repeat: no-repeat;
    background-size: 1300px;
}
/*header*/
ul li{
    display: inline;
    margin: 0 20px;
    color: white;
    margin-top: -25px;


}
ul{
    display: flex;
    justify-content: center;
    margin-left: -140px;
}

.name{
    margin-left: 100px;
    font-size: medium;
    color: white;
    margin-bottom: -35px;
    padding: 10px;
}
.button{
    display: flex;
    float: right;
    margin-right: 100px;
    margin-top: -40px;
    
}
.btn1{
    
}
.btn2{
    
    
    
}
.text{
    text-align: center;
    margin-top: 200px;
    font-size: large;
    color: white;
}
.button2{
    display: flex;
    justify-content: center;
    
    
}
.button2 button{
    border-radius: 30px;
    color: white;
    height: 40px;
    
}
.button2 .btn3{
    background-color: blue;
}
/*boxes*/
.boxes{
    height: 150px;
    background-color: blue;
    display: flex;
    justify-content: center;
    background-color: azure;

}
.box1{
    border: 1px solid black;
    height: 150px;
    width: 200px;  
    margin: 0 2%;  
    background-color: white;
    margin-top: -70px;
}
.box2{
    border: 1px solid black;
    height: 150px;
    width: 200px; 
    margin: 0 2%; 
    background-color: white; 
    margin-top: -70px;   
}
.box3{
    border: 1px solid black;
    height: 150px;
    width: 200px;  
    margin: 0 2%;  
    background-color: blue; 
    margin-top: -70px; 
    color: white;
    text-align: justify;
}
